@model ProviderITProvaPratica.Models.Turma

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Turma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoTurma)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodigoTurma)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Curso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aluno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aluno.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disciplina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disciplina.NomeDisciplina)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TurmaID">Editar</a> |
    <a asp-action="Index">Retorna</a>
</div>
