@model IEnumerable<ProviderITProvaPratica.Models.Turma>

@{
    ViewData["Title"] = "Turmas";
}

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CodigoTurma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Curso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Periodo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCriacao)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoTurma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina.NomeDisciplina)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TurmaID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TurmaID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.TurmaID">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
