@model IEnumerable<ProviderITProvaPratica.Models.Disciplina>

@{
    ViewData["Title"] = "Disciplinas";
}

<h2>Disciplinas</h2>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomeDisciplina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCriacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodigoDisciplina)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDisciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoDisciplina)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DisciplinaID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.DisciplinaID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.DisciplinaID">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
